<a href="https://colab.research.google.com/github/sadiakanwal3472/Python-Learning-2025/blob/main/basics_python_program_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Program 101
Hamming distance is the number of characters that differ between two strings.
###### To illustrate:
###### String1: "abcbba"
###### String2: "abcbda"
###### Hamming Distance: 1 - "b" vs. "d" is the only difference.
##### Create a function that computes the hamming distance between two strings.
## Examples
##### hamming_distance("abcde", "bcdef") ➞ 5
##### hamming_distance("abcde", "abcde") ➞ 0
##### hamming_distance("strong", "strung") ➞ 1

In [2]:
def hamming_distance(str1, str2):
 # Check if the strings have the same length
 if len(str1) != len(str2):
    raise ValueError("Input strings must have the same length")
 # Initialize a counter to keep track of differences
 distance = 0
 # Iterate through the characters of both strings
 for i in range(len(str1)):
   if str1[i] != str2[i]:
     distance += 1 # Increment the counter for differences
   return distance

In [3]:
print(hamming_distance("abcde", "bcdef"))
print(hamming_distance("abcde", "abcde"))
print(hamming_distance("strong", "strung"))

1
0
0

## Program 102
Create a function that takes a list of non-negative integers and strings and return a
new list without the strings.
## Examples
#### filter_list([1, 2, "a", "b"]) ➞ [1, 2]
#### filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]
#### filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [4]:
def filter_list(lst):
 # Initialize an empty list to store non-string elements
 result = []

 # Iterate through the elements in the input list
 for element in lst:
 # Check if the element is a non-negative integer (not a string)
    if isinstance(element, int) and element >= 0:
     result.append(element)

 return result

In [5]:
filter_list([1, 2, "a", "b"])

[1, 2]

In [6]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [7]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

## Program 103
The "Reverser" takes a string as input and returns that string in reverse order, with
the opposite case.
## Examples
#### reverse("Hello World") ➞ "DLROw OLLEh"
#### reverse("ReVeRsE") ➞ "eSrEvEr"
#### reverse("Radar") ➞ "RADAr"

In [8]:
def reverse(input_str):
 # Reverse the string and swap the case of characters
 reversed_str = input_str[::-1].swapcase()

 return reversed_str

In [9]:
reverse("Hello World")

'DLROw OLLEh'

In [10]:
reverse("ReVeRsE")

'eSrEvEr'

In [11]:
reverse("Radar")

'RADAr'

## Program 104
### You can assign variables from lists like this:
#### lst = [1, 2, 3, 4, 5, 6]
#### first = lst[0]
#### middle = lst[1:-1]
#### last = lst[-1]
#### print(first) ➞ outputs 1
#### print(middle) ➞ outputs [2, 3, 4, 5]
### With Python 3, you can assign variables from lists in a much more succinct way.
Create variables first, middle and last from the given list using destructuring
assignment (check the Resources tab for some examples), where:
#### first ➞ 1
#### middle ➞ [2, 3, 4, 5]
#### last ➞ 6
#### Your task is to unpack the list writeyourcodehere into three variables, bein print(last) ➞ outputs 6

In [12]:
writeyourcodehere = [1, 2, 3, 4, 5, 6]
# Unpack the list into variables
first, *middle, last = writeyourcodehere

In [13]:
first

1

In [14]:
middle

[2, 3, 4, 5]

In [15]:
last

6

## Program 105
Write a function that calculates the factorial of a number recursively.
## Examples
#### factorial(5) ➞ 120
#### factorial(3) ➞ 6
#### factorial(1) ➞ 1
#### factorial(0) ➞ 1

In [16]:
def factorial(n):
 if n == 0:
     return 1 # Base case: factorial of 0 is 1
 else:
     return n * factorial(n - 1) # Recursive case: n! = n * (n-1)!

In [17]:
factorial(5)

120

In [18]:
factorial(3)

6

In [19]:
factorial(1)

1

In [20]:
factorial(0)

1

## Program 106
Write a function that moves all elements of one type to the end of the list.
## Examples
#### move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
#### Move all the 1s to the end of the array.
#### move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
#### move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

In [23]:
def move_to_end(lst, element):
      # Initialize a count for the specified element
      count = lst.count(element)

      # Remove all occurrences of the element from the list
      lst = [x for x in lst if x != element]

     # Append the element to the end of the list count times
      lst.extend([element] * count)

      return lst

In [24]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [25]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [26]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']

## Program 107
### Question1
#### Create a function that takes a string and returns a string in which each character is
repeated once.
## Examples
#### double_char("String") ➞ "SSttrriinngg"
#### double_char("Hello World!") ➞ "HHeelllloo WWoorrlldd!!"
#### double char("1234! ") ➞ "11223344!!

In [27]:
def double_char(input_str):
 doubled_str = ""

 for char in input_str:
    doubled_str += char * 2

 return doubled_str

In [28]:
double_char("String")

'SSttrriinngg'

In [29]:
double_char("Hello World!")

'HHeelllloo  WWoorrlldd!!'

In [30]:
double_char("1234!_ ")

'11223344!!__  '

## Program 108
Create a function that reverses a boolean value and returns the string "boolean
expected" if another variable type is given.
## Examples
#### reverse(True) ➞ False
#### reverse(False) ➞ True
#### reverse(0) ➞ "boolean expected"
#### reverse(None) ➞ "boolean expected"

In [31]:
def reverse(value):
 if isinstance(value, bool):
   return not value
 else:
   return "boolean expected"

In [32]:
reverse(True)

False

In [33]:
reverse(False)

True

In [34]:
reverse(0)

'boolean expected'

In [36]:
reverse(None)

'boolean expected'

## Program 109
Create a function that returns the thickness (in meters) of a piece of paper after
folding it n number of times. The paper starts off with a thickness of 0.5mm.
## Examples
#### num_layers(1) ➞ "0.001m"
#### Paper folded once is 1mm (equal to 0.001m)
num_layers(4) ➞ "0.008m"
#### Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21) ➞ "1048.576m"
#### Paper folded 21 times is 1048576mm (equal to 1048.576m)

In [37]:
def num_layers(n):
 initial_thickness_mm = 0.5 # Initial thickness in millimeters
 final_thickness_mm = initial_thickness_mm * (2 ** n)
 final_thickness_m = final_thickness_mm / 1000 # Convert millimeter
 return f"{final_thickness_m:.3f}m"

In [38]:
num_layers(1)

'0.001m'

In [39]:
num_layers(4)

'0.008m'

In [40]:
num_layers(21)

'1048.576m'

## Program 110
#### Create a function that takes a single string as argument and returns an ordered list
#### containing the indices of all capital letters in the string.
## Examples
#### index_of_caps("eDaBiT") ➞ [1, 3, 5]
#### index_of_caps("eQuINoX") ➞ [1, 3, 4, 6]
#### index_of_caps("determine") ➞ []
#### index_of_caps("STRIKE") ➞ [0, 1, 2, 3, 4, 5]
#### index_of_caps("sUn") ➞ [1

In [41]:
def index_of_caps(word):
 # Use list comprehension to find indices of capital letters
 return [i for i, char in enumerate(word) if char.isupper()]

In [42]:
index_of_caps("eDaBiT")

[1, 3, 5]

In [43]:
index_of_caps("eQuINoX")

[1, 3, 4, 6]

In [44]:
index_of_caps("determine")

[]

In [45]:
index_of_caps("STRIKE")

[0, 1, 2, 3, 4, 5]

In [46]:
index_of_caps("sUn")

[1]

## Program 111
Using list comprehensions, create a function that finds all even numbers from 1 to
the given number.
## Examples
#### find_even_nums(8) ➞ [2, 4, 6, 8]
#### find_even_nums(4) ➞ [2, 4]
#### find_even_nums(2) ➞ [2

In [47]:
def find_even_nums(num):
 # Use a list comprehension to generate even numbers from 1 to num
 return [x for x in range(1, num + 1) if x % 2 == 0]

In [48]:
find_even_nums(8)

[2, 4, 6, 8]

In [49]:
find_even_nums(4)

[2, 4]

In [50]:
find_even_nums(2)

[2]

## Program 112
Create a function that takes a list of strings and integers, and filters out the list so
that it returns a list of integers only.
## Examples
#### filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]
#### filter_list(["A", 0, "Edabit", 1729, "Python", 1729]) ➞ [0, 1729]
#### filter_list(["Nothing", "here"]) ➞ []

In [53]:
def filter_list(lst):
 # Use a list comprehension to filter out integers
 return [x for x in lst if isinstance(x, int)]

In [54]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [55]:
filter_list(["A", 0, "Edabit", 1729, "Python", 1729])

[0, 1729, 1729]

In [56]:
filter_list(["A", 0, "Edabit", 1729, "Python", 1729])

[0, 1729, 1729]

## Program 113
Given a list of numbers, create a function which returns the list but with each
element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
## Examples
#### add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
#### add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
#### add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5

In [57]:
def add_indexes(lst):
 # Use list comprehension to add index to each element
 return [i + val for i, val in enumerate(lst)]

In [58]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [59]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

## Program 114
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
## Examples
#### cone_volume(3, 2) ➞ 12.57
#### cone_volume(15, 6) ➞ 565.49
#### cone_volume(18, 0) ➞ 0

In [60]:
import math
def cone_volume(height, radius):
 if radius == 0:
    return 0
 volume = (1/3) * math.pi * (radius**2) * height
 return round(volume, 2)

In [61]:
cone_volume(3, 2)

12.57

In [62]:
cone_volume(15, 6)

565.49

## Program 115
This Triangular Number Sequence is generated from a pattern of dots that form a
triangle. The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
##### This means that the first triangle has just one dot, the second one has three dots, the
third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
## Examples
#### triangle(1) ➞ 1
#### triangle(6) ➞ 21
#### triangle(215) ➞ 23220

In [63]:
def triangle(n):
 if n < 1:
   return 0
 return n * (n + 1) // 2

In [64]:
triangle(1)

1

In [65]:
triangle(6)

21

In [66]:
triangle(215)

23220

## Program 116
Create a function that takes a list of numbers between 1 and 10 (excluding one
number) and returns the missing number.
## Examples
#### missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
#### missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
#### missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [67]:
def missing_num(lst):
 total_sum = sum(range(1, 11)) # Sum of numbers from 1 to 10
 given_sum = sum(lst) # Sum of the given list of numbers
 missing = total_sum - given_sum
 return missing

In [68]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [69]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

## Program 117
Write a function that takes a list and a number as arguments. Add the number to the
end of the list, then remove the first element of the list. The function should then
return the updated list.
## Examples
#### next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
#### next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
#### next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
#### next_in_line([], 6) ➞ "No list has been selected"

In [70]:
def next_in_line(lst, num):
 if lst:
    lst.pop(0) # Remove the first element
    lst.append(num) # Add the number to the end
    return lst
 else:
   return "No list has been selected"

In [71]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [72]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

## Program 118
Create the function that takes a list of dictionaries and returns the sum of people's
budgets.
## Examples
#### get_budgets
#### ([{ 'name': 'John', 'age': 21, 'budget': 23000 },
#### { 'name': 'Steve', 'age': 32, 'budget': 40000 },
#### { 'name': 'Martin', 'age': 16, 'budget': 2700 }]) ➞ 65700
#### get_budgets([{ 'name': 'John', 'age': 21, 'budget': 29000 },
#### { 'name': 'Steve', 'age': 32, 'budget': 32000 },
#### { 'name': 'Martin', 'age': 16, 'budget': 1600 }]) ➞ 62600

In [1]:
def get_budgets(lst):
 total_budget = sum(person['budget'] for person in lst)
 return total_budget
# Test cases
budgets1 = [
 {'name': 'John', 'age': 21, 'budget': 23000},
 {'name': 'Steve', 'age': 32, 'budget': 40000},
 {'name': 'Martin', 'age': 16, 'budget': 2700}
]
budgets2 = [
 {'name': 'John', 'age': 21, 'budget': 29000},
 {'name': 'Steve', 'age': 32, 'budget': 32000},
 {'name': 'Martin', 'age': 16, 'budget': 1600}]

In [2]:
get_budgets(budgets1)

65700

In [4]:
get_budgets(budgets2)

62600

## Program 119
Create a function that takes a string and returns a string with its letters in
alphabetical order.
## Examples
#### alphabet_soup("hello") ➞ "ehllo"
#### alphabet_soup("edabit") ➞ "abdeit"
#### alphabet_soup("hacker") ➞ "acehkr"
#### alphabet_soup("geek") ➞ "eegk"
#### alphabet_soup("javascript") ➞ "aacijprstv"

In [3]:
def alphabet_soup(txt):
 return ''.join(sorted(txt))

In [5]:
alphabet_soup("hello")

'ehllo'

## Program 120
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded
monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r,
and the number of compounding periods per year n. The function returns the value at
the end of term rounded to the nearest cent.
## For the example:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly
compounding there are 12 periods per year. Compounding can also be done
annually, quarterly, weekly, or daily.
## Examples
#### compound_interest(100, 1, 0.05, 1) ➞ 105.0
#### compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
#### compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [6]:
def compound_interest(p, t, r, n):
 # Calculate the compound interest using the formula
 a = p * (1 + (r / n)) ** (n * t)
 # Round the result to the nearest cent
 return round(a, 2)

In [7]:
compound_interest(100, 1, 0.05, 1)

105.0

In [8]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [9]:
compound_interest(3500, 15, 0.1, 4)

15399.26