<a href="https://colab.research.google.com/github/sadiakanwal3472/Python-Learning-2025/blob/main/basic_python_program_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Program 121
Write a function that takes a list of elements and returns only the integers.
## Examples
#### return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
#### return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
#### return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]
#### return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [1]:
def return_only_integer(lst):
 # Use list comprehension to filter out integers
 return [x for x in lst if isinstance(x, int) and not isinstance(x, int)]

In [2]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[]

In [3]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[]

In [4]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[]

## Program 122
Create a function that takes three parameters where:
#### x is the start of the range (inclusive).
#### y is the end of the range (inclusive).
#### n is the divisor to be checked against.
#### Return an ordered list with numbers in the range that are divisible by the third parameter n
Return an empty list if there are no numbers that are divisible by n.
Examples
#### list_operation(1, 10, 3) ➞ [3, 6, 9]
#### list_operation(7, 9, 2) ➞ [8]
#### list_operation(15, 20, 7) ➞ []

In [5]:
def list_operation(x, y, n):
 # Use list comprehension to generate the list of numbers divisible
 return [num for num in range(x, y + 1) if num % n == 0]

In [6]:
list_operation(1, 10, 3)

[3, 6, 9]

In [7]:
list_operation(7, 9, 2)

[8]

## Program 123
Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. In other words, determine if the second list is the first list shifted to the right by 1.
## Examples
##### simon_says([1, 2], [5, 1]) ➞ True
##### simon_says([1, 2], [5, 5]) ➞ False
##### simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True
##### simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
## Notes:
##### Both input lists will be of the same length, and will have a minimum length of 2.
##### The values of the 0-indexed element in the second list and the n-1th indexed element in the first list do not matter.

In [8]:
def simon_says(list1, list2):
 # Check if the second list is the first list shifted to the right b
 return list1[:-1] == list2[1:]

In [9]:
simon_says([1, 2], [5, 1])

True

In [10]:
simon_says([1, 2], [5, 5])

False

## Program 124
A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order. Create a function that takes in a list of names and returns the name of the secret society.
## Examples
#### society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"
#### society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"
#### society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [12]:
def society_name(names):
 # Extract the first letter of each name, sort them, and join into a
 secret_name = ''.join(sorted([name[0] for name in names]))
 return secret_name

In [13]:
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'

In [15]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'

## Program 125
An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it's an "isogram".
## Examples
#### is_isogram("Algorism") ➞ True
#### is_isogram("PasSword") ➞ False
#### Not case sensitive.
#### is_isogram("Consecutive") ➞ False
## Notes
#### Ignore letter case (should not be case sensitive).
#### All test cases contain valid one word strings.

In [16]:
def is_isogram(word):

 word = word.lower()

 # Create a set to store unique letters in the word
 unique_letters = set()

 for letter in word:
 # If the letter is already in the set, it's not an isogram
  if letter in unique_letters:
    return False
 # Otherwise, add it to the set
 unique_letters.add(letter)

In [17]:
is_isogram("Algorism")

In [18]:
is_isogram("PasSword")

In [19]:
is_isogram("Consecutive")

## Program 126
Create a function that takes a string and returns True or False, depending on whether
the characters are in order or not.
## Examples
#### is_in_order("abc") ➞ True
#### is_in_order("edabit") ➞ False
#### is_in_order("123") ➞ True
#### is_in_order("xyzz") ➞ True is_in_order("abc") ➞ True
#### is_in_order("edabit") ➞ False
#### is_in_order("123") ➞ True
#### is_in_order("xyzz") ➞ True
## Notes
You don't have to handle empty strings.

In [20]:
def is_in_order(s):

 return s == ''.join(sorted(s))

In [21]:
is_in_order("abc")

True

In [22]:
is_in_order("adfettr")

False

In [23]:
is_in_order("123")

True

## Program 127
Create a function that takes a number as an argument and returns True or False
depending on whether the number is symmetrical or not. A number is symmetrical
when it is the same as its reverse.
## Examples
#### is_symmetrical(7227) ➞ True
#### is_symmetrical(12567) ➞ False
#### is_symmetrical(44444444) ➞ True
#### is_symmetrical(9939) ➞ False
#### is_symmetrical(1112111) ➞ True

In [24]:
def is_symmetrical(num):
 # Convert the number to a string
 num_str = str(num)

 # Check if the string is equal to its reverse
 return num_str == num_str[::-1]

In [25]:
is_symmetrical(7227)

True

In [26]:
is_symmetrical(12567)

False

In [27]:
is_symmetrical(4444444)

True

## Program 128
Given a string of numbers separated by a comma and space, return the product of
the numbers.
Program 128
Given a string of numbers separated by a comma and space, return the product of
the numbers.
## Examples
#### multiply_nums("2, 3") ➞ 6
#### multiply_nums("1, 2, 3, 4") ➞ 24
#### multiply_nums("54, 75, 453, 0") ➞ 0
#### multiply_nums("10, -2") ➞ -20

In [28]:
def multiply_nums(nums_str):
 # Split the input string by comma and space, then convert to intege
 nums = [int(num) for num in nums_str.split(", ")]

 # Initialize the result with 1
 result = 1

 # Multiply all the numbers together
 for num in nums:
   result *= num

 return result

In [29]:
multiply_nums("2, 3")

6

In [30]:
multiply_nums("1, 2, 3, 4")

24

## Program 129
Create a function that squares every digit of a number.
## Examples
#### square_digits(9119) ➞ 811181
#### square_digits(2483) ➞ 416649
#### square_digits(3212) ➞ 9414
## Notes
#### The function receives an integer and must return an integer.

In [31]:
def square_digits(n):
 # Convert the number to a string to iterate through its digits
 num_str = str(n)

 # Initialize an empty string to store the squared digits
 result_str = ""

 # Iterate through the digits
 for digit in num_str:
 # Square the digit and convert it back to an integer
    squared_digit = int(digit) ** 2

 # Append the squared digit to the result string
 result_str += str(squared_digit)


 return int(result_str)

In [32]:
square_digits(9119)

81

In [33]:
square_digits(2483)

9

## Program 130
Create a function that sorts a list and removes all duplicate items from it.
## Examples
#### setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
#### setify([4, 4, 4, 4]) ➞ [4]
#### setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
#### setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [34]:
def setify(lst):
 unique_set = set(sorted(lst))

 # Convert the set back to a list and return it
 return list(unique_set)

In [35]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [36]:
setify([4, 4, 4, 4])

[4]

## Program 131
Create a function that returns the mean of all digits.
## Examples
#### mean(42) ➞ 3
#### mean(12345) ➞ 3
#### mean(666) ➞ 6
## Notes
#### The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
#### The mean will always be an integer.

In [37]:
def mean(n):
 # Convert the number to a string to iterate through its digits
 n_str = str(n)

 # Calculate the sum of digits
 digit_sum = sum(int(digit) for digit in n_str)

 # Calculate the mean by dividing the sum by the number of digits
 digit_count = len(n_str)
 digit_mean = digit_sum / digit_count

 return int(digit_mean)

In [38]:
mean(42)

3

In [39]:
mean(123)

2

In [40]:
mean(12345)

3

## Program 132
Create a function that takes an integer and returns a list from 1 to the given number,
where:
##### 1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
##### 2. If the number cannot be divided evenly by 4, simply return the number.
## Examples
##### amplify(4) ➞ [1, 2, 3, 40]
##### amplify(3) ➞ [1, 2, 3]
##### amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21,
22, 23, 240, 25]
### Notes
##### The given integer will always be equal to or greater than 1.
Include the number (see example above).
##### To perform this problem with its intended purpose, try doing it with list
comprehensions. If that's too difficult, just solve the challenge any way you can.

In [41]:
def amplify(num):
 # Use a list comprehension to generate the list
 return [n * 10 if n % 4 == 0 else n for n in range(1, num + 1)]

In [42]:
amplify(4)

[1, 2, 3, 40]

In [43]:
amplify(56)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25,
 26,
 27,
 280,
 29,
 30,
 31,
 320,
 33,
 34,
 35,
 360,
 37,
 38,
 39,
 400,
 41,
 42,
 43,
 440,
 45,
 46,
 47,
 480,
 49,
 50,
 51,
 520,
 53,
 54,
 55,
 560]

## Program 133
Create a function that takes a list of numbers and return the number that's unique.
## Examples
#### unique([3, 3, 3, 7, 3, 3]) ➞ 7
#### unique([0, 0, 0.77, 0, 0]) ➞ 0.77
#### unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
### Notes
#### Test cases will always have exactly one unique number while all others are the same.

In [2]:
def unique(numbers):
 # Use a dictionary to count occurrences of each number
 count_dict = {}

 # Count occurrences of each number in the list
 for num in numbers:
   if num in count_dict:
      count_dict[num] += 1
 else:
   count_dict[num] = 1

 # Find the unique number (occurs only once)
 for num, count in count_dict.items():
   if count == 1:
      return num

In [3]:
unique([3, 3, 3, 7, 3, 3])

3

In [4]:
unique([0, 0, 0.77, 0, 0])

0

## Program 134
Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter
(circumference). For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.
## Examples
#### circy = Circle(11)
#### circy.getArea()
#### Should return 380.132711084365
#### circy = Circle(4.44)
#### circy.getPerimeter()
#### Should return 27.897342763877365
## Notes
#### Round results up to the nearest integer.

In [6]:
import math
class Circle:
 def __init__(self, radius):
    self.radius = radius

 def getArea(self):
 # Calculate and return the area of the circle
   return round(math.pi * self.radius**2)

 def getPerimeter(self):
 # Calculate and return the perimeter (circumference) of the cir
    return round(2 * math.pi * self.radius)

In [7]:
# Test cases
circy = Circle(11)
print(circy.getArea())
print(circy.getPerimeter())

380
69

## Program 135
Create a function that takes a list of strings and return a list, sorted from shortest to
longest.
## Examples
sort_by_length(["Google", "Apple", "Microsoft"]) ➞ ["Apple", "Google", "Microsoft"]
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]) ➞ ["Raphael",
"Leonardo", "Donatello", "Michelangelo"]
sort_by_length(["Turing", "Einstein", "Jung"]) ➞ ["Jung", "Turing", "Einstein"]
## Notes
All test cases contain lists with strings of different lengths, so you won't have to deal

In [8]:
def sort_by_length(lst):

 return sorted(lst, key=len) # Using sorted() function

In [9]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [10]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

## Program 136
Create a function that validates whether three given integers form a Pythagorean
triplet. The sum of the squares of the two smallest integers must equal the square of
the largest number to be validated.
## Examples
#### is_triplet(3, 4, 5) ➞ True
#### 3² + 4² = 25
#### 5² = 25
#### is_triplet(13, 5, 12) ➞ True
#### 5² + 12² = 169
#### 13² = 169
#### is_triplet(1, 2, 3) ➞ False
#### 1² + 2² = 5
#### 3² = 9
## Notes
#### Numbers may not be given in a sorted order.

In [11]:
def is_triplet(a, b, c):
 # Sort the numbers in ascending order
 sorted_numbers = sorted([a, b, c])
 # Check if the sum of squares of the two smaller numbers equals the
 return sorted_numbers[0] ** 2 + sorted_numbers[1] ** 2 == sorted_numbers

In [12]:
is_triplet(3, 4, 5)

False

In [13]:
is_triplet(3, 4, 5)

False

In [14]:
is_triplet(13, 5, 12)

False

## Program 137
Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.
## Examples
#### equal(3, 4, 3) ➞ 2
#### equal(1, 1, 1) ➞ 3
#### equal(3, 4, 1) ➞ 0
### Notes
#### Your function must return 0, 2 or 3.

In [15]:
def equal(a, b, c):
 if a == b == c:
    return 3
 elif a == b or b == c or a == c:
    return 2
 else:
   return 0

In [16]:
equal(3, 4, 3)

2

## Program 138
Write a function that converts a dictionary into a list of keys-values tuples.
## Examples
dict_to_list({"D": 1,"B": 2
"C": 3
}) ➞ [("B", 2), ("C", 3), ("D", 1)]
dict_to_list({
"likes": 2,
"dislikes": 3,
"followers": 10
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)]
## Notes
Return the elements in the list in alphabetical order.

In [17]:
def dict_to_list(input_dict):
 # Sort the dictionary by keys in alphabetical order
 sorted_dict = sorted(input_dict.items())

 # Convert the sorted dictionary to a list of tuples
 result = [(key, value) for key, value in sorted_dict]

 return result

In [18]:
dict_to_list({ "D": 1,  "B": 2, "C": 3})

[('B', 2), ('C', 3), ('D', 1)]

In [19]:
dict_to_list({"likes": 2,"dislikes": 3,"followers": 10})

[('dislikes', 3), ('followers', 10), ('likes', 2)]

## Program 139
Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.
## Examples
mapping(["p", "s"]) ➞ { "p": "P", "s": "S" } mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" }
mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" }
## Notes
All of the letters in the input list will always be lowercase.

In [20]:
def mapping(letters):
 result = {}
 for letter in letters:
  result[letter] = letter.upper()
 return result

In [21]:
mapping(["p", "s"])

{'p': 'P', 's': 'S'}

In [22]:
mapping(["a", "b", "c"])

{'a': 'A', 'b': 'B', 'c': 'C'}

## Program 140
Write a function, that replaces all vowels in a string with a specified vowel.
## Examples
##### vow_replace("apples and bananas", "u") ➞ "upplus und bununus"
##### vow_replace("cheese casserole", "o") ➞ "chooso cossorolo"
##### vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers"
## Notes
All words will be lowercase. Y is not considered a vowel.

In [23]:
def vow_replace(string, vowel):
 vowels = "aeiou"
 result = ""

 for char in string:
  if char in vowels:
   result += vowel
 else:
    result += char

 return result

In [24]:
vow_replace("apples and bananas", "u")

'uuuuuus'

In [25]:
vow_replace("cheese casserole", "o")

'oooooooe'

## Program 141
Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.
## Examples
#### ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!"
#### ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD"
#### ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL
moRNiNg."

In [26]:
def ascii_capitalize(input_str):
 result = ""

 for char in input_str:
  if ord(char) % 2 == 0:
    result += char.upper()
 else:
   result += char.lower()

 return result

In [27]:
ascii_capitalize("to be or not to be!")

'T B R NT T B!'

In [28]:
ascii_capitalize("Oh what a beautiful morning.")

'H HT  BTFL RNN..'