<a href="https://colab.research.google.com/github/sadiakanwal3472/Python-Learning-2025/blob/main/basics_python_lab_06_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python - Access List Items

# Access Items
List items are indexed and you can access them by referring to the index number:

# Example:
Print the second item of the list:

In [ ]:
thislist=["apple","banana","cherry"]
print(thislist[1])

banana

In [ ]:
print(len(thislist))

3

Note: The first item has index 0.

In [ ]:
# how to access to items in list by using index
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing
Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc.
# Example
Print the last item of the list:

In [ ]:
# how to access to items in list by using index
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.
When specifying a range, the return value will be a new list with the specified items.
# Example
Return the third, fourth, and fifth item:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

## Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.
By leaving out the start value, the range will start at the first item:
# Example
This example returns the items from the beginning to, but NOT including, "kiwi":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
This example returns the items from the beginning to, but NOT including, "mango":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:6])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

By leaving out the end value, the range will go on to the end of the list:
# Example
This example returns the items from "cherry" to the end:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

This example returns the items from "apple" to the end:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[0:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:
# Example
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:-1])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

# Check if Item Exists
To determine if a specified item is present in a list use the in keyword:
# Example
Check if "apple" is present in the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "kivi" in thislist:
  print("yes, 'kivi' is in the fruits list")
else:
    print("no, 'kivi' is in the fruits list")

no, 'kivi' is in the fruits list

# Test:

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]
if 1 in mylist:
    print("yes, 1 is in number list")

yes, 1 is in number list

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]
if 11 in mylist:
    print("yes, 11 is in number list")
else:
    print("no, 11 is in number list")

no, 11 is in number list

# Python - Change List Items
# Change Item Value
To change the value of a specific item, refer to the index number:

# Example:
Change the second item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
Change the second item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[2] = "mango"
print(thislist)

['apple', 'banana', 'mango']

# Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
# Example
Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon"

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[2:4] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'banana', 'blackcurrant', 'watermelon', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
# Example:
Change the second value by replacing it with two new values:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

# Note:
The length of the list will change when the number of items inserted does not match the number of items replaced.
If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
# Example
Change the second and third value by replacing it with one value:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.
The insert() method inserts an item at the specified index:
# Example
Insert "watermelon" as the third item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(0, "watermelon")
print(thislist)

['watermelon', 'apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(3, "watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'watermelon']