<a href="https://colab.research.google.com/github/sadiakanwal3472/Python-Learning-2025/blob/main/basics_python_programs___05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Program 81
Define a class with a generator which can iterate the numbers, which are divisible by
7, between a given range 0 and n.

In [ ]:
class DivisibleBySeven:
 def __init__(self,n):
      self.n = n

 def generate_divisible_by_seven(self):
    for num in range(self.n + 1):
     if num%7 == 0:
       yield num

In [ ]:
n = int(input("Enter your desired range: "))

divisible_by_seven_generator = DivisibleBySeven(n).generate_divisible_by_seven()
for num in divisible_by_seven_generator:
    print(num)

Enter your desired range: 50
0
7
14
21
28
35
42
49

## Program 82
Write a program to compute the frequency of the words from the input. The output
should output after sorting the key alphanumerically. Suppose the following input is
supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or
Python 3.
Then, the output should be:
###### 2:2
###### 3.:1
###### 3?:1
###### New:1
###### Python:5
###### Read:1
###### and:1
###### between:1
###### choosing:1
###### or:2
###### to:1

In [ ]:
input_sentence = input("Enter a sentence: ")
# Split the sentence into words
words = input_sentence.split()
# Create a dictionary to store word frequencies
word_freq = {}
# Count word frequencies
for word in words:
 # Remove punctuation (., ?) from the word
 word = word.strip('.,?')
 # Convert the word to lowercase to ensure case-insensitive counting
 word = word.lower()
 # Update the word frequency in the dictionary
 if word in word_freq:
     word_freq[word] += 1
 else:
    word_freq[word] = 1
# Sort the words alphanumerically
sorted_words = sorted(word_freq.items())
# Print the word frequencies
for word, frequency in sorted_words:
    print(f"{word}:{frequency}")

Enter a sentence: New to python or choosing between python 2 and python 3?
2:1
3:1
and:1
between:1
choosing:1
new:1
or:1
python:3
to:1

## Program 83
Define a class Person and its two child classes: Male and Female. All classes have a
method "getGender" which can print "Male" for Male class and "Female" for Female
class.

In [ ]:
class Person:
 def getGender(self):
    return "Unknown"
class Male(Person):
 def getGender(self):
    return "Male"
class Female(Person):
 def getGender(self):
     return "Female"

In [ ]:
person = Person()
male = Male()
female = Female()

print(person.getGender())
print(male.getGender())
print(female.getGender())

Unknown
Male
Female

## Program 84
Please write a program to generate all sentences where subject is in ["I", "You"] and
verb is in ["Play", "Love"] and the object is in ["Hockey","Football"]

In [ ]:
subjects = ["I", "You"]
verbs = ["Play", "Love"]
objects = ["Hockey", "Football"]
sentences = []
for sub in subjects:
 for vrb in verbs:
     for obj in objects:
      sentence = f"{sub} {vrb} {obj}."
     sentences.append(sentence)
 for sentence in sentences:
    print(sentence)

I Play Football.
I Love Football.
I Play Football.
I Love Football.
You Play Football.
You Love Football.

## Program 85
Please write a program to compress and decompress the string "hello world!hello
world!hello world!hello world!".

In [ ]:
import zlib
string = "hello world!hello world!hello world!hello world!"
# Compress the string
compressed_string = zlib.compress(string.encode())
# Decompress the string
decompressed_string = zlib.decompress(compressed_string).decode()
print("Original String:", string)
print("Compressed String:", compressed_string)
print("Decompressed String:", decompressed_string)

Original String: hello world!hello world!hello world!hello world!
Compressed String: b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
Decompressed String: hello world!hello world!hello world!hello world!

## Program 86
Please write a binary search function which searches an item in a sorted list. The
function should return the index of element to be searched in the list.

In [ ]:
def binary_search(arr, target):
     left, right = 0, len(arr) - 1
     while left <= right:
          mid = (left + right) // 2

          if arr[mid] == target:
            return mid # Element found, return its index
          elif arr[mid] < target:
            left = mid + 1 # Target is in the right half
          else:
             right = mid - 1 # Target is in the left half

     return -1 # Element not found in the list
# Example usage:
sorted_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target_element = 4

result = binary_search(sorted_list, target_element)
if result != -1:
    print(f"Element {target_element} found at index {result}")
else:
    print(f"Element {target_element} not found in the list")

Element 4 found at index 3

## Program 87
Please write a program using generator to print the numbers which can be divisible
by 5 and 7 between 0 and n in comma separated form while n is input by console.
## Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

In [ ]:
def divisible_by_5_and_7(n):
 for num in range(n + 1):
   if num % 5 == 0 and num % 7 == 0:
     yield num

In [ ]:
try:
   n = int(input("Enter a value for n: "))
   result = divisible_by_5_and_7(n)
   print(','.join(map(str, result)))
except ValueError:
     print("Invalid input. Please enter a valid integer for n.")

Enter a value for n: 100
0,35,70

## Program 88
Please write a program using generator to print the even numbers between 0 and n in
comma separated form while n is input by console.
## Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [ ]:
def even_numbers(n):
 for num in range(n + 1):
    if num % 2 == 0:
      yield num

In [ ]:
try:
     n = int(input("Enter a value for n: "))
     n = 10
     result = even_numbers(n)
     print(','.join(map(str, result)))
except ValueError:
      print("Invalid input. Please enter a valid integer for n.")

Enter a value for n: 12

NameError: name 'even_numbers' is not defined

## Program 89
The Fibonacci Sequence is computed based on the following formula:
###### f(n)=0 if n=0
###### f(n)=1 if n=1
###### f(n)=f(n-1)+f(n-2) if n>1
###### Please write a program using list comprehension to print the Fibonacci Sequence in
comma separated form with a given n input by console.
## Example:
If the following n is given as input to the program:
 ###### 8
Then, the output of the program should be:
###### 0,1,1,2,3,5,8,13

In [ ]:
def fibonacci(n):
 sequence = [0, 1] # Initializing the sequence with the first two F
 [sequence.append(sequence[-1] + sequence[-2]) for _ in range(2, n)]
 return sequence

In [ ]:
try:
 n = int(input("Enter a value for n: "))
 result = fibonacci(n)
 print(','.join(map(str, result)))
except ValueError:
 print("Invalid input. Please enter a valid integer for n.")

Enter a value for n:  8

0,1,1,2,3,5,8,13

## Program 90
Assuming that we have some email addresses in the
"username@companyname.com (mailto:username@companyname.com)" format,
please write program to print the user name of a given email address. Both user
names and company names are composed of letters only.
## Example:
If the following email address is given as input to the program:
Then, the output of the program should be:
john

In [1]:
def extract_username(email):
    # Split the email address at '@' to separate the username and domai
    parts = email.split('@')

    # Check if the email address has the expected format
    if len(parts) == 2:
         return parts[0] # The username is the first part
    else:
         return "Invalid email format"

In [2]:
try:
     email = input("Enter an email address: ")
     username = extract_username(email)
     print(username)
except ValueError:
     print("Invalid input. Please enter a valid email address.")

Enter an email address: k4638656@gmail.com
k4638656

## Program 91
Define a class named Shape and its subclass Square. The Square class has an init
function which takes a length as argument. Both classes have an area function which
can print the area of the shape where Shape's area is 0 by default.

In [3]:
class Shape:
 def __init__(self):
     pass # Default constructor, no need to initialize anything
 def area(self):
     return 0 # Shape's area is 0 by default
class Square(Shape):
 def __init__(self, length):
     super().__init__() # Call the constructor of the parent class
     self.length = length
 def area(self):
        return self.length ** 2 # Calculate the area of the square

In [4]:
# Create instances of the classes
shape = Shape()
square = Square(float(input("Enter the shape of the square: ")))

# Calculate and print the areas
print("Shape's area by default:", shape.area())
print("Area of the square:", square.area())

Enter the shape of the square: 5
Shape's area by default: 0
Area of the square: 25.0

## Program 92
Write a function that stutters a word as if someone is struggling to read it. The first
two letters are repeated twice with an ellipsis ... and space after each, and then the
word is pronounced with a question mark ?.
## Examples
###### stutter("incredible") ➞ "in... in... incredible?"
###### stutter("enthusiastic") ➞ "en... en... enthusiastic?"
###### stutter("outstanding") ➞ "ou... ou... outstanding?"
##### Hint :- Assume all input is in lower case and at least two characters long.

In [5]:
def stutter(word):
      if len(word) < 2:
        return "Word must be at least two characters long."

        stuttered_word = f"{word[:2]}... {word[:2]}... {word}?"
        return stuttered_word

In [6]:
# Test cases
print(stutter("incredible"))
print(stutter("enthusiastic"))
print(stutter("outstanding"))

None
None
None

## Program 93
Create a function that takes an angle in radians and returns the corresponding angle
in degrees rounded to one decimal place.
## Examples
##### radians_to_degrees(1) ➞ 57.3
##### radians_to_degrees(20) ➞ 1145.9
##### radians_to_degrees(50) ➞ 2864.8

In [ ]:
import math
def radians_to_degrees(radians):
 degrees = radians * (180 / math.pi)
 return round(degrees, 1)

In [ ]:
# Test cases
print(radians_to_degrees(1))
print(radians_to_degrees(20))
print(radians_to_degrees(50))

57.3
1145.9
2864.8

## Program 94
In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2
elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a
Curzon number.
Given a non-negative integer num, implement a function that returns True if num is a
Curzon number, or False otherwise.
## Example
    is_curzon(5) ➞ True
#### 2 ** 5 + 1 = 33
#### 2 * 5 + 1 = 11
#### 33 is a multiple of 11
is_curzon(10) ➞ False
#### 2 ** 10 + 1 = 1025
#### 2 * 10 + 1 = 21
#### 1025 is not a multiple of 21
is_curzon(14) ➞ True
#### 2 ** 14 + 1 = 16385
#### 2 * 14 + 1 = 29
#### 16385 is a multiple of 29
## Curzon Number:
It is defined based on a specific mathematical relationship involving powers of 2. An integer
'n' is considered a Curzon number if it satisfies the following condition:
If (2^n + 1) is divisible by (2n + 1), then 'n' is a Curzon number.
## For example:
##### If n = 5: 2^5 + 1 = 33, and 2*5 + 1 = 11. Since 33 is divisible by 11 (33 % 11 = 0), 5 is a
Curzon number.
##### If n = 10: 2^10 + 1 = 1025, and 2*10 + 1 = 21. 1025 is not divisible by 21, so 10 is not a
Curzon number.
Curzon numbers are a specific subset of integers with this unique mathematical property.

In [ ]:
def is_curzon(num):
 numerator = 2 ** num + 1
 denominator = 2 * num + 1
 return numerator % denominator == 0

In [ ]:
# Test cases
print(is_curzon(5))
print(is_curzon(10))
print(is_curzon(14))

True
False
True

## Program 95
Given the side length x find the area of a hexagon.
## Examples
#### area_of_hexagon(1) ➞ 2.6
#### area_of_hexagon(2) ➞ 10.4
#### area_of_hexagon(3) ➞ 23.4

In [ ]:
import math
def area_of_hexagon(x):
 area = (3 * math.sqrt(3) * x**2) / 2
 return round(area, 1)

In [ ]:
# Example usage:
print(area_of_hexagon(1))
print(area_of_hexagon(2))
print(area_of_hexagon(3))

2.6
10.4
23.4

## Program 96
Create a function that returns a base-2 (binary) representation of a base-10 (decimal)
string number. To convert is simple: ((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to
the left will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16,
8, 4, 2, 1).
## Examples
binary(1) ➞ "1"
### 1*1 = 1
binary(5) ➞ "101"
### 1*1 + 1*4 = 5
binary(10) ➞ 1010
### 1*2 + 1*8 = 10

In [7]:
def binary(decimal):
 binary_str = ""
 while decimal > 0:
    remainder = decimal % 2
    binary_str = str(remainder) + binary_str
    decimal = decimal // 2
 return binary_str if binary_str else "0"

In [9]:
print(binary(1))
print(binary(5))
print(binary(10))

1
101
1010

## Program 97
Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.
## Examples
evenly_divisible(1, 10, 20) ➞ 0
####  No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
#### 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
####  3 + 6 + 9 = 1

In [10]:
def evenly_divisible(a, b, c):
 total = 0
 for num in range(a, b + 1):
      if num % c == 0:
         total += num
 return total

In [11]:
print(evenly_divisible(1, 10, 20))
print(evenly_divisible(1, 10, 2))
print(evenly_divisible(1, 10, 3))

0
30
18

## Program 98
Create a function that returns True if a given inequality expression is correct and
False otherwise.
## Examples
correct_signs("3 < 7 < 11") ➞ True
correct_signs("13 > 44 > 33 <1") ➞ False
correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [12]:
def correct_signs(expression):
 try:
    return eval(expression)
 except:
    return False

In [13]:
print(correct_signs("3 < 7 < 11"))
print(correct_signs("13 > 44 > 33 < 1"))
print(correct_signs("1 < 2 < 6 < 9 > 3"))

True
False
True

## Program 99
Create a function that replaces all the vowels in a string with a specified character.
## Examples
###### replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"
###### replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"
###### replace_vowels("shakespeare", "*") ➞ "shkspr*"

In [14]:
def replace_vowels(string, char):
 vowels = "AEIOUaeiou" # List of vowels to be replaced
 for vowel in vowels:
    string = string.replace(vowel, char) # Replace each vowel with
 return string

In [15]:
print(replace_vowels("the aardvark", "#"))
print(replace_vowels("minnie mouse", "?"))
print(replace_vowels("shakespeare", "*"))

th# ##rdv#rk
m?nn?? m??s?
sh*k*sp**r*

## Program 100
Write a function that calculates the factorial of a number recursively.
## Examples
##### factorial(5) ➞ 120
##### factorial(3) ➞ 6
##### factorial(1) ➞ 1
##### factorial(0) ➞ 1

In [17]:
def factorial(n):
   if n == 0:
        return 1  # Base case: factorial of 0 is 1
   else:
        return n* factorial(n-1)  # recursive case: n! = n*(n-1)!

In [18]:
print(factorial(5))
print(factorial(3))
print(factorial(1))
print(factorial(0))

120
6
1
1