<a href="https://colab.research.google.com/github/sadiakanwal3472/Python-Learning-2025/blob/main/python_basics_lab(04)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuples

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

# Example:
Create a Tuple:

In [ ]:
mytuple1 = ("apple", "banana", "cherry")
print(mytuple1)

('apple', 'banana', 'cherry')

In [ ]:
mytuple2=(1,2,3,4)
print(mytuple2)

(1, 2, 3, 4)

In [ ]:
# add cancatnation
new_tuples=mytuple1+mytuple2
new_tuples

('apple', 'banana', 'cherry', 1, 2, 3, 4)

In [ ]:
# slicing
new_tuples[0:3]

('apple', 'banana', 'cherry')

In [ ]:
# slicing
new_tuples[3:7]

(1, 2, 3, 4)

In [ ]:
new_tuples[1:2]

('banana',)

In [ ]:
new_tuples[1]

'banana'

In [ ]:
type(new_tuples[1:2])

tuple

In [ ]:
new_tuples[1:2]
print(new_tuples[1:2])
type(new_tuples[1:2])

('banana',)

tuple

In [ ]:
tuples_of_fruit=new_tuples[:3] # 3 is not include 3 is uper limit
print(tuples_of_fruit)

('apple', 'banana', 'cherry')

In [ ]:
tuples_of_number=new_tuples[3:]  # 3 is include 3 is lower limit
print(tuples_of_number)

(1, 2, 3, 4)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# length of new_tuple
len(new_tuples)

7

In [ ]:
# length of tuples_of_fruit)
len(tuples_of_fruit)

3

In [ ]:
# length of tuples_of_number)
len(tuples_of_number)

4

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
tuple=("apple")
type(tuple)

str

# Example:
String, int and boolean data types:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Example
A tuple with strings, integers and boolean values:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

# type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>

# Example
What is the data type of a tuple?

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

# The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

# Example
Using the tuple() method to make a tuple:

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

TypeError: 'str' object is not callable

In [ ]:
tup=(1,2,3)
tup.append(