<a href="https://colab.research.google.com/github/sadiakanwal3472/Python-Learning-2025/blob/main/python_basics_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists

1. What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])

banana

2. What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'banana', 'cherry']
print(mylist[2])

banana

# . True or False.
3. List items cannot be removed after the list has been created.
###### . True
###### . False
  ##### False

4. Elect the correct function for returning the number of items in a list:

In [ ]:
thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

3

# Python Tuples

1.Which one of these is a tuple?
###### a.thistuple = ('apple', 'banana', 'cherry')
###### b.thistuple = ['apple', 'banana', 'cherry']
###### c.thistuple = {'apple', 'banana', 'cherry'}
 #### a

2.Use the correct syntax to print the number of items in the fruits tuple.

In [ ]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

# True or False.
3.Tuple items cannot be removed after the tuple has been created.
###### True
###### False
  ####  True

# Python Sets

1.Which one of these is a set?
###### a.myset = ('apple', 'banana', 'cherry')
###### b.myset = ['apple', 'banana', 'cherry']
###### c.myset = {'apple', 'banana', 'cherry'}
 #### c

# True or False.
2.Set items cannot be removed after the set has been created.
##### True
##### False
 ### False

3.A set cannot have two items with the same value.
##### True
##### False
  #### True

4.Select the correct function for returning the number of items in fruits:

In [ ]:
fruits = {'apple', 'banana', 'cherry'}
print(len(fruits))

3

# Python Dictionaries

1.Whis one of theese is a dictionary?
##### a. x = ('apple', 'banana', 'cherry')
##### b. x = {'type' : 'fruit', 'name' : 'banana'}
##### c. x = ['apple', 'banana', 'cherry']
  ### b

# True or False.
2.Dictionary items cannot be removed after the dictionary has been created.
##### True
##### False
  #### False

3.A dictionary cannot have two keys with the same name.
##### True
##### False
### True

4.Select the correct function to print the number of key/value pairs in the dictionary:

In [ ]:
x = {'type' : 'fruit', 'name' : 'banana'}
print(len(x))

2

# Access List Items

In [ ]:
1.What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry']
print(mylist[-1])

cherry

2.Print the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

3.What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry', 'orange', 'kiwi']
print(mylist[1:4])

['banana', 'cherry', 'orange']

4.Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

# Python Change Lists

1.What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

banana

2.Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[0]= "kiwi"

3.What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])

mango

# Python Add List Items

1.What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[1])

apple

2.Use the append method to add "orange" to the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")

3.Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")

In [ ]:
4.Select the missing parts to add the elements of tropical to fruits:

In [ ]:
fruits = ['apple', 'banana', 'cherry']
tropical = ['mango', 'pineapple', 'papaya']
fruits.extend(tropical)

# Python Remove List Items

1.What is a List method for removing list items?
##### a.pop()
##### b.push()
##### c.delete()
  ### a

2.Use the remove method to remove "banana" from the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

3.What will be the result of the following syntax:

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(1)
print(mylist)

['apple', 'cherry']